body{
    margin: 0px;
    background-color: #fdf1f0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#mainNavBar{
    min-height: 10vh;
    max-height: 10vh;
    min-width: 100%;
    background: transparent;
    color: #262626;
    display: flex;
    align-items: center;
}

#mainNavBar img{
    width: 150px;
    cursor: pointer;
}

#mainNavBar #Navigator{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 100px;
    padding: 20px;
}

#mainNavBar .TabsContainer{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    position: relative;
}

#mainNavBar .navtab{
    padding: 6px 8px;
    transition: all 0.3s linear; 
    cursor: pointer;
}
#mainNavBar .navtab.hoveringover:hover{
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

#mainNavBar .navtabSelector{
    position:absolute;
    transition:all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}





.DynamicUtlIcon{
    font-size: 65px;
    padding: 0px 15px;
}

#mainBody{
    min-height: 90vh;
    max-height: 90vh;
    min-width: 100%;
    display: flex;
}

#mainBody > *:first-child{
    min-height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#MissionAndVisionContainer .MissionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
}


#MissionAndVisionContainer .MissionContainer .Title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

#MissionAndVisionContainer .VisionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
    animation: fadeInUp 1s ease-in-out;
}


#MissionAndVisionContainer .VisionContainer .Title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

#MissionAndVisionContainer .MissionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
    animation: fadeInUp 1s ease-in-out;
}


@keyframes fadeInUp {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

#MeetTheTeamContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeInUp 1.2s forwards;
    animation-delay: 1s;
    gap: 20px;
}

#MeetTheTeamContainer{
    font-size: 42px;
    font-weight: 700;
}
.ManagementSection{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.DepartmentsSection{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
.ManagementCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamMemberImages{
    width: 200px;
    border-radius: 12px;
}

.teamMemberName{
    font-size: 28px;
    font-weight: 500;
}

.teamMemberPosition{
    
    font-size: 24px;
    font-weight: 300;

}

#OurJourneyContainer{
    justify-content: center;
    overflow: hidden;
}
#OurJourneyContainer .swiper-slide{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;      
}

#OurJourneyContainer .swiper-slide .swiperinformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    
}

#OurJourneyContainer .journeyTitle{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#OurJourneyContainer .journeyDate{
    text-align: center;
}

@media (max-width: 430px) {
    #MissionAndVisionContainer{
        flex-direction: column;
        align-items: center;
    }

    #MissionAndVisionContainer .MissionContainer{
        width: 80%;
    }
    #MissionAndVisionContainer .VisionContainer{
        width: 80%;
    }
}